.footer {
    background: linear-gradient(95deg, #d6d4d1, var(--background-color) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    padding: 20px 0;
}

.footer img {
    user-select: none;
    pointer-events: none;
    width: 100px;
    margin-bottom: 10px;
}

.footer a {
    user-select: none;
    text-decoration: none;
    color: var(--primary-color);
}

.footer a:hover {
    color: var(--text-color);
}
