:root {
    --primary-color: #014776;
    --secondary-color: #9fc750;
    --background-color: #fffbf6;
    --background-color-2: rgba(255, 251, 246, 0.9);
    --text-color: #161616;
    --text-color-2: #fcf5e5;
    --shadow-color: rgba(0, 0, 0, 0.3);
}
