.sectionContainer {
    background: linear-gradient(95deg, #d6d4d1, var(--background-color) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100dvh - 104px);
    padding-top: 120px;
    padding-bottom: 50px;
}

.sectionTitulo {
    color: var(--text-color);
    user-select: none;
    text-align: center;
    width: 320px;
}

.sectionTitulo h1 {
    font-size: 32px;
}

.sectionTitulo h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sectionTitulo p {
    margin-bottom: 40px;
}

@media (min-width: 576px) {
    .sectionTitulo {
        width: 430px;
    }
}
